.text-primary {
  color: #15b095!important;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(21,176,149, 0.7);
  transition: all .2s;
}

a:hover {
  color: #15b095;
  text-decoration: underline;
}

.portfolio-box .portfolio-box-caption {
}

.bg-dark {
  background-color: #15b095!important;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #15b095;
}

a, a:hover {
  color: #15b095;
}

.btn-primary {
  background-color: #15b095;
  border-color: #15b095;
}

.btn-primary:hover {
  color: #fff;
  background-color: #15b095;
  border-color: #15b095;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #15b095;
  border-color: #15b095;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #066354!important;
}

.text-uppercase {
  text-transform: lowercase!important;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: lowercase;
  color: #15B095;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: lowercase;
  color: #868e96;
}

@media (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
    color: #15b095;
  }
}

.img-fluid, .img-thumbnail8 {
  max-width: 100%;
  height: auto;
}

@media (min-width:992px) {
  .col-lg-3 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
  }
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #15b095;
}

