{% extends "base.html" %}

{% block content %}
 <section>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div ><img max-width="200px" src="/static/img/thumbnails/logo.JPG" /></div>
                <h2 class=section-heading">Herzlich willkommen {{user.name}} bei Projektbuddys - du bist nun ein Teil der Community!</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
</section>
{% endblock content %}